/* STYLING FOR THE HEADER AND NAV BELOW */

body {
	background-color: black;
}

header {
	font-family: 'Amagro', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	background-color: rgb(36, 4, 4);
	color: #ffffff;
}

#background-image {
	background-image: url("/assets/media/photo-1614292253389-bd2c1f89cd0e.avif");
	width: 100vp;
	height: 100vp;
}

header h1 {
	display: inline-block;
	font-size: 38px;
	padding: 0px 15px 0px 15px;
	border: 1px solid darkgray;
	background: darkgray;
	border-radius: 30px;
}

header nav {
	padding-top: 40px;
	margin-right: 20px;
	float: right;
	font-family: 'Amagro', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 20px;
	display: inline;
}

header nav a {
	padding-left: 100px;
	color: white;
}






/* STYLING FOR SEMANTIC ELEMENTS */

main {
	color: white;
}

.profilepic {
	border-radius: 50%;
	height: 150px;
	width: 150px;
	padding-left: 5px;
	padding-top: 20px;
}


/* STYLING FOR SECTIONS */

.section1, .section2 {
	display: flex;
}

.aboutme {
	flex: 1 0 auto;
	padding: 10px;
	border-right: 1px solid silver;
	height: 200px;
	font-size: 200%
}

.work {
		flex: 1 0 auto;
		padding: 10px;
		border-right: 1px solid silver;
		height: 200px;
		font-size: 200%
	}


.aboutme-p {
	flex: 2 0 auto;
	width: 80%;
	padding: 10px;
	font-size: 125%
}